@model IEnumerable<BlockFlixDLL.Entities.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Genre Index</h2>

<div class="row">
    <div class="col-md-12" style="margin-bottom: 20px;">
        <a class="btn btn-default" href="@Url.Action("Create", "Genres")">Create Genre</a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
